/* start variables */
:root {
  --brand-color:#0C73CC;
  --secondary-color:#EB3686;
  --transparent-color: oklch(0.51 0.19 0.63 / 0.38);
  --bg-dark: #0f172a;
}
/* end variables */
/* start global ruls  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing:border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px){
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global ruls  */
/* start components  */
.main-heading {
  text-align: center;
}

.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}

.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}

.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}
/* end components  */

/* start header  */
header {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 1px 3px #181818;
  background-color: #181818;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
  gap: 15px;
}
header .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
header .logo span {
  padding-left: 8px;
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
}
@media (max-width: 996px) {
  header .logo span {
    font-size: 20px;
  }
}
header .logo span span {
  color: var(--brand-color);
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap:10px;
}
header nav .search-box {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: row-reverse;
}
header nav .search-box #searchInput {
    direction: rtl;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #faf8f8;
    outline: none;
    caret-color: #0C73CC;
    font-weight: 500;
    font-size: 14px;
}
header nav .search-box::placeholder {
    color: #777;
    font-size: 14px;
}
header nav .search-box #searchInput:focus {
  border-color: #2196f3;
}
header nav .search-box .btn {
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #cdcece7f;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  header nav .search-box #searchInput {
    width: 0;
    opacity: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    outline: none;
    transition: all 0.3s ease;
  }
  header nav .search-box #searchInput.active {
    width: 100%;
    opacity: 1;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #faf8f8;
    padding: 5px 5px 5px 0;
  }
}
header nav .toggle-menu {
  color: white;
  font-size: 22px;
  cursor: pointer;
}
@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}
header nav ul {
  display: flex;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 /50%);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition:
    max-height 0.4s,
    opacity 0.3s ease,
    transform 0.3s ease;
  }
  header nav ul.open {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
  }
}
header nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
  padding: 10px 10px;
  position: relative;
}
@media (max-width: 767px) {
  header nav ul li a {
    padding: 15px;
    font-size: 14px;
  }
  header nav ul li:not(:last-of-type)  {
    border-bottom: 1px solid #616060;
  }
}
header nav ul li a.active,
header nav ul li a:hover {
  color: var(--brand-color);
  z-index: 3;
}
@media (max-width: 767px) {
  header nav ul li a.active,
  header nav ul li a:hover {
  color: var(--brand-color);
  border-bottom: none;
  }
}
header nav .form {
  position: relative;
  margin-left: 10px;
}
header nav .form i {
  color: white;
  font-size: 18px;
}
header nav .form .btn {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-color: #dddddd57;
  display: flex;
  justify-content: center;
  align-items: center;
  border:none;
  border-radius: 5px;
}
/* end header  */
/* start landing  */
.landing {
  min-height: 100vh;
  background-color: black;
  background-image: url("../image/landing.jpg");
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /60%);
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  background-color: var(--transparent-color);
  padding: 50px;
  color: white;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 996px) {
  .landing .text {
    width: 80%;
    justify-content: center;
    text-align: center;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
  }
}
.landing .text .content {
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 20px;
}
.landing .text .content p {
  font-size: 12px;
  line-height: 2;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
.landing .fa-angle-left {
  left: 20px;
}
.landing .fa-angle-right {
  right: 20px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: solid 1px white;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.landing .bullets li.active {
  background-color: var(--brand-color);
  border-color: var(--brand-color);
}
/* start landing  */
.services {
  padding: 100px 0;
}
@media (min-width: 768px) {
  .services .services-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
      grid-column-gap: 40px;
      grid-row-gap: 60px;
  }
}
.services .srv-box {
  display: flex;
}
@media (max-width: 767px) {
  .services .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
}
.services .srv-box i {
  margin-right: 50px;
}
@media (max-width: 767px) {
  .services .srv-box i {
    margin: 0 auto 20px;
  }
}
.services .srv-box h3 {
  margin-bottom: 30px;
  color: var(--brand-color);
}
.services .srv-box p {
  line-height: 2;
  color: #777;
}
/* start section design  */
.design {
  display: flex;
  align-items: center;
  padding: 100px 0;
  height: 600px;
  background-image: url("../image/landing-2.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.design::before {
  content: "";
  position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /60%);
}
.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}
.design .image img {
  max-width: 100%;
  position: relative;
  bottom: -150px;
}
.design .text {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}
.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.design .text ul li {
  padding: 15px 0;
}
.design .text ul li::before {
  font-family: 'Font Awesome 5 Free';
  content: '\F108';
  font-weight: 900;
  margin-right: 10px;
  position: relative;
  top: 1px;
}
/* start section design  */
/* start portfolio  */
.portfolio {
  padding: 100px 0;
}
.portfolio .shuffle {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.portfolio .shuffle li {
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
}
.portfolio .shuffle li.active {
  background-color: var(--brand-color);
  color: white;
}
.portfolio .imgs .box {

}
.portfolio .imgs .box img {
  max-width: 100%;
}
.portfolio .imgs .container
/* end portfolio  */