/* start variables */
:root {
  --brand-color:#0C73CC;
  --secondary-color:#EB3686;
  --transparent-color: oklch(46.23% 0.16726 261.488 / 0.38);
  --bg-dark: #0f172a;
}
/* end variables */
/* start global ruls  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing:border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px){
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global ruls  */
/* start components  */
.main-heading {
  text-align: center;
}

.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}

.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}

.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}
/* end components  */

/* start header  */
header {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 1px 3px #181818;
  background-color: #181818;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
  gap: 15px;
}
header .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
header .logo span {
  padding-left: 8px;
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
}
@media (max-width: 996px) {
  header .logo span {
    font-size: 20px;
  }
}
header .logo span span {
  color: var(--brand-color);
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap:10px;
}
header nav .search-box {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: row-reverse;
    position: relative;
}
header nav .search-box #searchInput {
    direction: rtl;
    padding: 4px 8px;
    border: 1px solid #faf8f8;
    outline: none;
    caret-color: #0C73CC;
    font-weight: 500;
    font-size: 14px;
}
header nav .search-box::placeholder {
    color: #777;
    font-size: 14px;
}
header nav .search-box #searchInput:focus {
  border-color: #2196f3;
}
header nav .search-box .btn {
  position: absolute;
  left: 0;
  cursor: pointer;
  color: white;
  border: none;
  background-color: #cdcece7f;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px) {
  header nav .search-box #searchInput {
    width: 0;
    opacity: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    outline: none;
    transition: width 0.3s ease, opacity 0.3s ease;
  }
  header nav .search-box #searchInput.active {
    width: 100%;
    opacity: 1;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #faf8f8;
    padding: 5px 5px 5px 0;
  }
    header nav .search-box .btn {
      position:static;
      left: auto;
      padding: 4px;
      border-radius: 3px;
    }
}
header nav .toggle-menu {
  color: white;
  font-size: 26px;
  cursor: pointer;
}
@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}
header nav ul {
  display: flex;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 /50%);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition:
    max-height 0.4s,
    opacity 0.3s ease,
    transform 0.3s ease;
  }
  header nav ul.open {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
  }
}
header nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
  padding: 10px 10px;
  position: relative;
}
@media (max-width: 767px) {
  header nav ul li a {
    padding: 15px;
    font-size: 14px;
  }
  header nav ul li:not(:last-of-type)  {
    border-bottom: 1px solid #616060;
  }
}
header nav ul li a.active,
header nav ul li a:hover {
  color: var(--brand-color);
  z-index: 3;
}
@media (max-width: 767px) {
  header nav ul li a.active,
  header nav ul li a:hover {
  color: var(--brand-color);
  border-bottom: none;
  }
}
header nav .form {
  position: relative;
  margin-left: 10px;
}
header nav .form i {
  color: white;
  font-size: 18px;
}
header nav .form .btn {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-color: #dddddd57;
  display: flex;
  justify-content: center;
  align-items: center;
  border:none;
  border-radius: 5px;
}
/* end header  */
/* start landing  */
.landing {
  min-height: 100vh;
  background-color: black;
  background-image: url("../image/landing.jpg");
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /60%);
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  background-color: var(--transparent-color);
  padding: 50px;
  color: white;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 996px) {
  .landing .text {
    width: 80%;
    justify-content: center;
    text-align: center;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
  }
}
.landing .text .content {
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 20px;
}
.landing .text .content p {
  font-size: 12px;
  line-height: 2;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
.landing .fa-angle-left {
  left: 20px;
}
.landing .fa-angle-right {
  right: 20px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: solid 1px white;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.landing .bullets li.active {
  background-color: var(--brand-color);
  border-color: var(--brand-color);
}
/* start landing  */
.services {
  padding: 100px 0;
}
@media (min-width: 768px) {
  .services .services-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
      grid-column-gap: 40px;
      grid-row-gap: 60px;
  }
}
.services .srv-box {
  display: flex;
}
@media (max-width: 767px) {
  .services .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
}
.services .srv-box i {
  margin-right: 50px;
}
@media (max-width: 767px) {
  .services .srv-box i {
    margin: 0 auto 20px;
  }
}
.services .srv-box h3 {
  margin-bottom: 30px;
  color: var(--brand-color);
}
.services .srv-box p {
  line-height: 2;
  color: #777;
}
/* start section design  */
.design {
  display: flex;
  align-items: center;
  padding: 100px 0;
  height: 600px;
  background-image: url("../image/landing-2.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.design::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /60%);
}
.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}
.design .image img {
  max-width: 100%;
  position: relative;
  bottom: -150px;
}
.design .text {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}
.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.design .text ul li {
  padding: 15px 0;
}
.design .text ul li::before {
  font-family: 'Font Awesome 5 Free';
  content: '\F108';
  font-weight: 900;
  margin-right: 10px;
  position: relative;
  top: 1px;
}
/* start section design  */
/* start portfolio  */
.portfolio {
  padding: 100px 0;
}
.portfolio .shuffle {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.portfolio .shuffle li {
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
}
.portfolio .shuffle li.active {
  background-color: var(--brand-color);
  color: white;
}
.portfolio .imgs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top:60px;
}
.portfolio .imgs-container .box {
  overflow: hidden;
  position: relative;
}
.portfolio .imgs-container .box:hover .caption {
  bottom: 0;
}
.portfolio .imgs-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
  .portfolio .imgs-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio .imgs-container .box {
    flex-basis: 25%;
  }
}
.portfolio .imgs-container .box img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.portfolio .imgs-container .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  bottom: -100%;
}
.portfolio .imgs-container .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.portfolio .imgs-container .box .caption p {
  color: var(--brand-color);
}
.portfolio .more {
  background-color: var(--brand-color);
  color: white;
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin:  30px auto;
  text-decoration: none;
  text-transform: uppercase;
}
/* end portfolio  */
/* start video  */
.video {
  position:relative;
  background-color: red;
}
.video::before {
  content:"";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 60%);
}
.video video {
  width: 100%;
  height: 100%;
  display: block;
 }
.video .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: var(--transparent-color);
  padding: 50px;
 }
@media (max-width: 767px) {
  .video .text {
    padding: 10px;
  }
 }
.video .text h2 {
  margin:  0 0 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: clamp(1.4, 4vw, 2.5rem);
 }
.video .text p {
  margin-bottom: 20px;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
 }
.video .text button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
 }
/* end video  */
/* start about  */
.about {
  padding-top: 100px;
  overflow: hidden;
  text-align: center;
}
.about img {
  max-width: 50%;
  position: relative;
  bottom: -220px;
  margin-top: -120px;
}
@media (max-width: 767px) {
  .about img {
    bottom: -100px;
    margin-top: -150px;
  }
}
/* end about  */
/* start stats  */
.stats {
  padding: 100px 0;
  text-align: center;
  background-image: url("../image/landing-2.jpg");
  background-size: cover;
  position: relative;
}
.stats::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 /60%);
  width: 100%;
  height: 100%;
}
.stats .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.stats .container .box {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}
@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}
.stats .container .box i {
  width: 40px;
  height: 40px;
  display: flex;
  background-color: var(--brand-color);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 30px;
}
.stats .container .box .number {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}
.stats .container .box p {
  font-size: 14px;
}
/* start stats  */
/* start our skills */
.our-skills {
  padding: 100px 0;
}
.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}
.our-skills .testimonials > p {
  line-height: 2;
  color: #777;
  text-align: center;
  max-width: 440px;
  margin: 10px auto 30px 0;
}
.our-skills .testimonials h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: normal;
  text-transform: uppercase;
}
.our-skills .testimonials .content .card {
  box-shadow: 0px 3px 3px #ddd;
  position: relative;
  padding: 10px 0 0;
  margin-bottom: 20px;
}
.our-skills .testimonials .content .card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
  background: linear-gradient(to right,#395fb9 ,#2196f3);
}
.our-skills .testimonials .content .card .stars {
  text-align: center;
  margin: 20px 0;
}
.our-skills .testimonials .content .card .stars i {
  color: var(--brand-color);
}
.testimonials .content .card p {
  line-height: 1.3;
  color: #777;
  margin-bottom: 10px;
  padding:  0 10px ;
}
.testimonials .content .card .client {
  background: linear-gradient(to right, #395fb9, #2196f3);
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}
.testimonials .content .card .client span {
  font-size: 14px;
}
.testimonials .content .card .client img {
  width: 50px;
  height: 50px;
  object-fit:cover;
  border-radius: 50%;
  background-color: #0f172a;
}
.testimonials .content ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.testimonials .content .bullets li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #aaa;
}
.testimonials .content .bullets li.active {
  background-color: var(--brand-color);
  border-color: var(--brand-color);
}
.our-skills .skills p {
  line-height: 2;
  color: #777;
  text-align: center;
  margin: 10px auto 30px 0;
}
.our-skills .skills h3 {
  text-align: center;
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: normal;
  text-transform: uppercase;
}
.our-skills .skills .prog-holder {
  margin-bottom: 40px;
}
.our-skills .skills .prog-holder h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}
.our-skills .skills .prog-holder .prog {
  background-color: #dedadc;
  height: 30px;
} 
.our-skills .skills .prog-holder .prog span {
  display: block;
  background-color: var(--brand-color);
  height: 100%;
  position: relative;
}
.our-skills .skills .prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  color: white;
  top: -40px;
  right: -18px;
  width: 40px;
  padding: 4px 0;
  text-align: center;
  border-radius: 4px;
}
.our-skills .skills .prog-holder .prog span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: black transparent transparent transparent;
  border-width: 8px;
  right: -8px;
  top: -15px;
}
/* end our skills */
/* start Quote */
.quote {
  padding: 100px 0;
  background-image: url("../image/landing-2.jpg");
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}
.quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 /75%);
  width: 100%;
  height: 100%;
}
.quote .container {
  position: relative;
}
.quote q {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}
.quote q::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f10d';
  font-weight: 900;
}
.quote q::after {
  font-family: 'Font Awesome 5 Free';
  content: '\f10e';
  font-weight: 900;
}
/* end Quote */
/* start Pricing */
.pricing {
  padding: 100px 0;
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
  gap: 30px;
}
.pricing .plans .plan {
  background-color: #fcfcfc;
  text-align: center;
}
.pricing .plans .plan .head {
  padding: 40px;
  border-top: 1px solid var(--brand-color);
  border-bottom: 1px solid var(--brand-color);
}
.pricing .plans .plan .head h3 {
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.pricing .plans .plan .head span {
  font-size: 60px;
  font-weight: bold;
}
.pricing .plans .plan .head span::before {
  content: "$";
  font-size: 25px;
  position: relative;
  top: -40px;
  margin-right: 15px;
  font-weight: normal;
}
.pricing .plans .plan .head span::after {
  content: "/Mo";
  font-size: 20px;
  position: relative;
  right: -15px;
}
.pricing .plans .plan ul {
  border-bottom: 1px solid var
}
.pricing .plans .plan ul li {
  padding: 20px;
}
.pricing .plans .plan ul li:not(:last-child)::after {
  content: "";
  width: 120px;
  height: 1px;
  background-color: var(--brand-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.pricing .plans .plan a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  border: 1px solid var(--brand-color);
  width: fit-content;
  margin: 30px auto;
}
.pricing .contact-text {
  text-align: center;
  margin: 50px auto 20px;
  font-size: 18px;
}
.pricing .contact-link {
  display: block;
  width: fit-content;
  margin: 20px auto;
  background-color: var(--brand-color);
  color: white;
  padding: 15px 30px;
  text-decoration: none;
}
/* end Pricing */
/* start Subscribe */
.subscribe {
  padding: 100px 0;
  background-color: #0f172a;
  position: relative;
  color: white;
}
.subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 /75%);
  width: 100%;
  height: 100%;
}
.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}
.subscribe form i {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
}
.subscribe form input[type="email"] {
  border: 1px solid white;
  border-right: none;
  background: none;
  padding: 20px 20px 20px 60px;
  caret-color: var(--brand-color);
  width: calc(100% - 130px);
}
.subscribe form input[type="submit"]{
  width: 130px;
  background-color: var(--brand-color);
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-left: none;
  text-transform: uppercase;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="email"]:focus {
  outline: none;
}
.subscribe form ::placeholder {
  color: white;
}
.subscribe p {
  line-height: 2;
  margin-left: 50px;
}
@media (max-width: 991px) {
  .subscribe p {
    margin-right: 30px 0 0;
  }
}
/* end Subscribe */