/* start variables */
:root {
  --brand-color:#0C73CC;
  --secondary-color:#EB3686;
}
/* end variables */
/* start global ruls  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing:border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px){
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global ruls  */
/* start header  */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
}
header .container .logo {
  width: 100px;
  display: flex;
}
header .logo img {
  max-width: 100%;
  object-fit: cover;
}
header .container nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .container nav ul {
  display: flex;
}
header .container nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  padding: 40px 10px;
  position: relative;
}
header .container nav ul li a.active,
header .container nav ul li a:hover {
  color: var(--brand-color);
  border-bottom: 2px solid var(--brand-color);
  z-index: 3;
}
/* end header  */