/* start variables */
:root {
  --brand-color:#0C73CC;
  --secondary-color:#EB3686;
  --transparent-color: oklch(0.51 0.19 0.63 / 0.38);
}
/* end variables */
/* start global ruls  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing:border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px){
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global ruls  */
/* start header  */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
}
header .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
header .logo .img {
  width: 50px;
}
header .logo img {
  max-width: 100%;
}
header .logo span {
  padding-left: 8px;
  color: var(--secondary-color);
  font-size: 22px;
  text-transform: uppercase;
}
header .logo span span {
  color: var(--brand-color);
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav .toggle-menu {
  color: white;
  font-size: 22px;
  cursor: pointer;
}
@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}
header nav ul {
  display: flex;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 /50%);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition:
    max-height 0.4s,
    opacity 0.3s ease,
    transform 0.3s ease;
  }
  header nav ul.open {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
  }
}
header nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  padding: 40px 10px;
  position: relative;
}
@media (max-width: 767px) {
  header nav ul li a {
    padding: 15px;
  }
  header nav ul li:not(:last-of-type)  {
    border-bottom: 1px solid #616060;
  }
}
header nav ul li a.active,
header nav ul li a:hover {
  color: var(--brand-color);
  border-bottom: 2px solid var(--brand-color);
  z-index: 3;
}
@media (max-width: 767px) {
  header nav ul li a.active,
  header nav ul li a:hover {
  color: var(--brand-color);
  border-bottom: none;
  }
}
header nav .form {
  width:40px;
  height: 40px;
  position: relative;
  border-left: 1px solid white;
  margin-left: 30px;
}
header nav .form i {
  color: white;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
/* end header  */
/* start landing  */
.landing {
  min-height: 100vh;
  background-color: black;
  background-image: url("/assest/image/landing.jpg");
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /60%);
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  background-color: var(--transparent-color);
  padding: 50px;
  color: white;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .landing .text {
    width: 80%;
    justify-content: center;
    text-align: center;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
  }
}
.landing .text .content {
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 20px;
}
.landing .text .content p {
  font-size: 12px;
  line-height: 2;
}
/* start landing  */